#fixed-button {
    position: fixed;
    left: 90%;
    bottom: 12%;
}

.top-of-page-button {
    display: inline-block;
    height: 4em;
    width: 4em;
    color: transparent;
    background-image: url(../images/top-black.png);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: 100%;
}

.top-of-page-button:hover {
    background-image: url(../images/top-white.png);
}

/* Media Queries */
@media (max-width: 1024px) {
    #fixed-button {
        left: 87.5%;
        z-index: 1;
    }
}
