footer {
    padding: 3vw 0;
    border-top: 1px solid #CCC;
    text-align: center;
}

footer p {
    display: inline;
    color: #999;
}

/* Media Queries */
@media (max-width: 1024px) {
    footer {
        padding: 7vw 0;
    }
}
