#introduction {
    padding: 10vw 15%;
}

.avatar {
    height: 18vw;
    width: 18vw;
    border-radius: 100%; 
    background-image: url(../images/avatar.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: transparent;
}

.personal-information h2, .position, #contents h3 {
    display: inline-block;
}

.personal-information {
    padding-bottom: 1vw;
}

.personal-information h2 {
    font-size: 1.7em;
    padding-right: 1.5vw;
}

.greeting {
    padding-bottom: 1vw;
}

.interests {
    padding: 0.8vw 0;
    border-bottom: 1px solid #CCC;
}

.interests li {
    padding: 0.9vw 1.8vw;
    border-radius: 2em;
    margin-bottom: 1vw;
    background-color: rgb(94, 236, 249, 0.5);
    color: rgb(0, 116, 155);
}

.interests li:nth-child(2n) {
    background-color: rgba(238, 167, 112, 0.5);
    color: rgb(155, 75, 0);
}

.contact-information {
    font-style: normal;
    padding-top: 2vw;
}

.contact-information dt {
    font-weight: bold;
}

#contents h3 {
    font-size: 1.7em;
    padding-right: 1.5vw;
}

#projects {
    padding: 5vw 15% 15vw;
    margin-bottom: 25vw;
    background-color: #EEE;
}

.projects-content-division {
    position: absolute;
    width: 70%;
}

.projects-content-division ul li {
    margin: 0.375em;
    text-align: center;
    box-shadow: 0.1px 5px 10px 0 #CCC;
}

.projects-content-division ul li:hover {
    transform: translate3d(0, -1em, 0);
    box-shadow: 0.1px 8px 16px 0 black;
}

.project-images {
    height: 12em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: transparent;
}

#project-image1 {
    background-image: url(../images/project-image1.jpeg);
}

#project-image2 {
    background-image: url(../images/project-image2.jpeg);
}

#project-image3 {
    background-image: url(../images/project-image3.jpeg);
}

.project-details {
    padding: 2em;
    background-color: white;
}

.project-title {
    font-size: 1.2em;
    font-weight: bold;
}

.project-description {
    font-size: 0.9em;
    color: #777;
}

.project-details button {
    padding: 1em 3em;
    background-color: white;
    border: 1px solid black;
    border-radius: 2em;
    cursor: pointer;
}

#experiences {
    padding: 0 15% 10vw;
}

.content-title-experience {
    padding-bottom: 2.3vw;
    border-bottom: 2px solid black;
}

#experiences li {
    padding: 1.75vw 1vw;
    border-bottom: 1px solid #CCC;
}

#experiences > ul > li > time {
    text-align: right;
}

#experiences > ul > li > p:first-of-type {
    font-size: 1.1em;
    font-weight: bold;
}

.experienced-task, .experienced-task + time {
    color: #888;
}

#retrospects {
    padding: 8vw 15%;
    background-color: #333;
}

.content-title-retrospect, .retrospect-classification-navigation {
    padding-bottom: 2vw;
}

.content-title-retrospect h3 {
    color: white;
}

.title-description {
    margin-top: 0.75em;
    display: inline-block;
    color: #AAA;
}

.retrospect-classification-navigation a {
    margin-left: 2vw;
    color: #AAA;
}

.retrospect-classification-navigation a:hover {
    text-decoration: underline;
    color: white;
}

.retrospect-thumbnail {
    height: 16.66vw;
    width: 16.66vw;
    background-color: #CCC;
    color: #CCC;
}

.retrospect-thumbnail:hover {
    background-color: rgba(204, 204, 204, 0.100);
    color: white;
}

#closing {
    margin: 5vw 15% 10vw;
}

.closing-content-box {
    width: 100%;
    padding: 3vw 5%;
    border: 1px solid #CCC;
    border-top-color: black;
    border-top-width: 2px;
    margin-bottom: 3.25vw;
}

.main-closing-text {
    font-size: 1.4vw;
    font-weight: bold;
    padding-bottom: 0.5vw;
}

.sub-closing-text {
    color: #888;
}

#closing nav img {
    width: 3vw;
}

/* Layouts */
#introduction {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2.5vw;
    align-items: center;
}

.my-information {
    display: grid;
    align-items: center;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1vw;
}

.contact-information dl {
    display: grid;
    grid-template-columns: 1.5fr 5fr 1.75fr 4fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vw;
}

.projects-content-division {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.projects-content-division ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.projects-content-division ul li {
    display: flex;
    flex-direction: column;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

#experiences, #retrospects {
    display: flex;
    flex-direction: column;
}

#experiences ul {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

#experiences li {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
}

.retrospects-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content-title-retrospect {
    display: flex;
}

.retrospect-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
}

.retrospect-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

#closing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closing-content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outlink-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5vw;
}

/* Media Queries - Distance of #Projects and #Experiences */
@media (max-width: 1150px) {
    #projects {
        margin-bottom: 50vw;
    }
}

@media (min-width: 1150px) and (max-width: 1440px) {
    #projects {
        margin-bottom: 35vw;
    }
}

/* Media Queries - global */
@media (max-width: 1024px) {
    #projects, #experiences, #retrospects {
        padding: 25vw 5%;
    }

    div[class^="content-title"] {
        display: flex;
        flex-direction: column;
    }

    #contents h3 {
        font-size: 7vw;
    }

    .title-description {
        margin-top: 1.5vw;
        font-size: 3.5vw;
    }
}

/* Media Queries - #introduction */
@media (max-width: 1024px) {
    #introduction, .my-information, 
    .personal-information {
        display: flex;
        flex-direction: column;
    }

    #introduction {
        padding: 10vw 5%;
    }

    .avatar {
        height: 50vw;
        width: 50vw;
    }

    .personal-information h2 {
        font-size: 7vw;
        text-align: center;
        padding: 2vw 0;
    }

    .position {
        font-size: 4vw;
        font-weight: bold;
        text-align: center;
        padding-bottom: 2vw;
    }

    .greeting {
        width: 100%;
        text-align: center;
        font-size: 3vw;
        padding-bottom: 4vw;
    }

    .interests {
        justify-content: center;
        padding-bottom: 6vw;
    }

    .interests li {
        font-size: 3vw;
        padding: 1.5vw 3vw;
        margin-bottom: 2vw;
    }

    .contact-information {
        font-size: 3.5vw;
        color: #444;
        width: 100%;
        padding: 8vw 0;
    }

    .contact-information dl {
        grid-template-columns: 1fr 3fr;
        grid-template-rows: repeat(4, 1fr);
        row-gap: 5vw;
    }
}

/* Media Queries - #projects */
@media (max-width: 1024px) {
    #projects {
        margin-bottom: 0;
    }

    .projects-content-division {
        position: static;
        width: auto;
    }

    .projects-content-division ul {
        display: flex;
        flex-direction: column;
    }

    .projects-content-division ul li {
        margin: 3vw 0;
    }

    .projects-content-division ul li:hover {
        transform: translate3d(0, -0.3em, 0);
    }

    .project-images {
        height: 40vw;
    }

    .project-details {
        padding: 5vw;
        align-items: flex-start;
    }

    .project-title {
        font-size: 4.5vw;
    }

    .project-description {
        font-size: 3vw;
        padding-bottom: 10vw;
    }

    .project-details button {
        font-size: 3.5vw;
        padding: 5vw 12vw;
        border-width: 1.5px;
        border-radius: 2.5em;
    }
}

/* Media Queries - #Experiences */
@media (max-width: 1024px) {
    .content-title-experience {
        padding-bottom: 6vw;
        border-bottom-width: 5px;
    }

    #experiences li {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: 3fr 1fr;
        padding: 6vw 3vw;
    }

    #experiences > ul > li {
        font-size: 3vw;
    }

    #experiences > ul > li > time {
        grid-column-start: 2;
        text-align: left;
    }
}

/* Media Queries - #Retrospects */
@media (max-width: 1024px) {
    #retrospects {
        padding-right: 0;
    }

    .retrospects-header {
        flex-direction: column;
        align-items: flex-start;
    }

    .content-title-retrospect {
        padding-bottom: 7vw;
    }

    .retrospect-classification-navigation {
        padding-bottom: 10vw;
    }

    .retrospect-classification-navigation a {
        font-size: 3vw;
        margin-left: 7vw;
    }

    .retrospect-classification-navigation a:first-of-type {
        margin-left: 0;
    }

    .retrospect-list {
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: auto;
        column-gap: 3vw;
        overflow-x: scroll;
    }

    .retrospect-list a {
        height: 50vw;
        width: 50vw;
    }
}

/* Media Queries - #closing */
@media (max-width: 1024px) {
    #closing {
        margin: 25vw 5%;
    }

    .closing-content-box {
        flex-direction: column;
        padding: 10vw;
        margin-bottom: 10vw;
    }

    .closing-content-box div {
        text-align: center;
    }

    .main-closing-text {
        font-size: 6vw;
        padding-bottom: 4vw;
    }

    .for-line-alignment {
        display: block;
    }

    .sub-closing-text {
        font-size: 3vw;
        padding-bottom: 5vw;
    }

    #closing .contact-me-button {
        font-size: 3vw;
        padding: 3.5vw 7vw;
        border-radius: 2.5em;
    }

    #closing nav {
        column-gap: 6vw;
    }

    #closing nav img {
        width: 8vw;
    }
}
