#introduction {
    padding: 10vw 15%;
}

.projects {
    padding: 5vw 15% 7.5vw;
    margin-bottom: 40vw;

    background-color: #EEE;
}

.projects-content-division {
    position: absolute;
}

.experiences {
    padding: 0 15% 10vw;
}

.retrospects {
    padding: 10vw 15%;

    background-color: #333;
}

.content-title-retrospect h3 {
    color: white;
}

.content-title-retrospect label {
    color: #AAA;
}

.retrospect-classification-navigation a {
    color: #AAA;
}

.retrospect-classification-navigation a:hover {
    color: white;
}

.retrospect-thumbnail {
    color: white;
}

/* Layouts */
.projects-content-division {
    display: flex;

    flex-direction: column;
}

.projects-content-division ul {
    display: grid;

    grid-template-columns: 1fr 1fr 1fr;
}

.experiences, .retrospects {
    display: flex;

    flex-direction: column;
}

.experiences ul {
    display: grid;

    grid-template-rows: repeat(4, 1fr);
}

.retrospects-header {
    display: flex;

    justify-content: space-between;
}

.content-title-retrospect {
    display: flex;
}

.retrospect-list {
    display: grid;

    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 0.5vw;
}
