#introduction {
    padding: 10vw 15%;
}

.avatar {
    height: 18vw;
    width: 18vw;
    border-radius: 100%; 
    background-image: url(../data/images/avatar.jpeg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: transparent;
}

.personal-information h2, .position, #contents h3 {
    display: inline-block;
}

.personal-information h2 {
    font-size: 1.7em;
    padding-right: 1.5vw;
}

.interests {
    padding-top: 0.8vw;
    padding-bottom: 2.4vw;
    border-bottom: 1px solid #CCC;
}

.interests li {
    padding: 0.9vw 1.8vw;
    border-radius: 2em;
    background-color: rgb(94, 236, 249, 0.5);
    color: rgb(0, 116, 155);
}

.interests li:nth-child(2n) {
    background-color: rgba(238, 167, 112, 0.5);
    color: rgb(155, 75, 0);
}

.contact-information {
    padding-top: 2vw;
    font-style: normal;
}

.contact-information dt {
    font-weight: bold;
}

#contents h3 {
    font-size: 1.7em;
    padding-right: 1.5vw;
}

.projects {
    padding: 5vw 15% 15vw;
    margin-bottom: 25vw;
    background-color: #EEE;
}

.projects-content-division {
    position: absolute;
    width: 70%;
}

.projects-content-division ul li {
    margin: 0.375em;
    text-align: center;
    box-shadow: 0.1px 5px 10px 0 #CCC;
}

.projects-content-division ul li:hover {
    transform: translate3d(0, -1em, 0);
    box-shadow: 0.1px 8px 16px 0 black;
}

.project-images {
    height: 12em;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: transparent;
}

#project-image1 {
    background-image: url(../data/images/project-image1.jpeg);
}

#project-image2 {
    background-image: url(../data/images/project-image2.jpeg);
}

#project-image3 {
    background-image: url(../data/images/project-image3.jpeg);
}

.project-details {
    padding: 2em;
    background-color: white;
}

.project-title {
    font-size: 1.2em;
    font-weight: bold;
}

.project-description {
    font-size: 0.9em;
    color: #777;
}

.project-details button {
    padding: 1em 3em;
    background-color: white;
    border: 1px solid black;
    border-radius: 2em;
    cursor: pointer;
}

.experiences {
    padding: 0 15% 10vw;
}

.content-title-experience {
    padding-bottom: 2.3vw;
    border-bottom: 2px solid black;
}

.experiences li {
    padding: 1.75vw 1vw;
    border-bottom: 1px solid #CCC;
}

.experiences > ul > li > time {
    text-align: right;
}

.experiences > ul > li > p:first-of-type {
    font-size: 1.1em;
    font-weight: bold;
}

.experienced-task, .experienced-task + time {
    color: #888;
}

.retrospects {
    padding: 10vw 15%;
    background-color: #333;
}

.content-title-retrospect, .retrospect-classification-navigation {
    padding-bottom: 2vw;
}

.content-title-retrospect h3 {
    color: white;
}

.title-description {
    margin-top: 0.75em;
    display: inline-block;
    color: #AAA;
}

.retrospect-classification-navigation a {
    margin-left: 2vw;
    color: #AAA;
}

.retrospect-classification-navigation a:hover {
    text-decoration: underline;
    color: white;
}

.retrospect-thumbnail {
    height: 16.66vw;
    width: 16.66vw;
    background-color: #CCC;
    color: #CCC;
}

.retrospect-thumbnail:hover {
    background-color: rgba(204, 204, 204, 0.100);
    color: white;
}

#closing {
    margin: 5vw 15% 10vw;
}

.closing-content-box {
    width: 100%;
    padding: 3vw 5%;
    border: 1px solid #CCC;
    border-top-color: black;
    border-top-width: 2px;
    margin-bottom: 3.25vw;
}

.main-closing-text {
    font-size: 1.4vw;
    font-weight: bold;
    padding-bottom: 0.5vw;
}

.sub-closing-text {
    color: #888;
}

#closing nav img {
    width: 3vw;
}

/* Layouts */
#introduction {
    display: grid;
    grid-template-columns: 1fr 4fr;
    gap: 2.5vw;
    align-items: center;
}

.my-information {
    display: grid;
    grid-template-rows: 1fr 0.5fr 2fr 2fr;
    align-items: center;
}

.interests {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    column-gap: 1vw;
}

.contact-information dl {
    display: grid;
    grid-template-columns: 1.5fr 5fr 1.75fr 4fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 1vw;
}

.projects-content-division {
    display: flex;
    flex-direction: column;
    gap: 0.8em;
}

.projects-content-division ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.projects-content-division ul li {
    display: flex;
    flex-direction: column;
}

.project-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

.experiences, .retrospects {
    display: flex;
    flex-direction: column;
}

.experiences ul {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
}

.experiences li {
    display: grid;
    grid-template-columns: 2fr 5fr 2fr;
}

.retrospects-header {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.content-title-retrospect {
    display: flex;
}

.retrospect-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 1vw;
}

.retrospect-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
}

#closing {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.closing-content-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.outlink-icons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2.5vw;
}
